.skills {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
  justify-content: center;
  padding: 0 var(--size-7);
  text-align: center;
}

@media (max-width: 769px) {
  .skills {
    padding: 0 var(--size-4);
  }
}
