.skill {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: var(--size-3);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 10px rgba(var(--shadow-card-color), 0.01),
    0px 4px 20px rgba(var(--shadow-card-color), 0.05);
}

.skill h3 {
  margin-bottom: var(--size-4);
}

.skill p {
  margin-bottom: var(--size-0);
}
