.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  align-items: center;
  background: var(--color-3);
  color: var(--color-disabled);
  font-size: var(--size-0);
  font-weight: bold;
  margin: var(--size-4) auto 0 auto;
  padding: var(--size-3);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 100%;
}

.social {
  filter: invert(var(--invert-percentage));
  justify-self: center;
}

@media (max-width: 769px) {
  .footer {
    justify-items: flex-start;
  }

  .social {
    margin-top: var(--size-0);
    justify-self: flex-start;
  }
}
