.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--size-3);
  background: transparent;
  z-index: var(--z-1);
}

.scrolled {
  background: linear-gradient(
    to top,
    rgba(var(--background-start-rgb), var(--nav-transparency)) 0%,
    rgba(var(--background-middle-rgb), var(--nav-transparency)) 99%,
    rgba(var(--background-end-rgb), var(--nav-transparency)) 100%
  );
  box-shadow: 0px 2px 10px rgba(var(--shadow-nav-color), 0.2),
    0px 4px 20px rgba(var(--shadow-nav-color), 0.3);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.navMenu {
  display: flex;
  font-size: var(--size-2);
  column-gap: var(--size-6);
  padding: 0 var(--size-3);
  font-weight: bold;
  filter: drop-shadow(0px 0px 10px rgba(var(--shadow-pic-color), 0.3));
}

.navMobileMenu {
  display: none;
  position: fixed;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  right: 0;
  padding-top: var(--size-2);
  /* From https://css.glass */
  background: rgba(164, 191, 254, 0.71);
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 2px 10px rgba(var(--shadow-nav-color), 0.2),
    0px 4px 20px rgba(var(--shadow-nav-color), 0.3);
  backdrop-filter: blur(7.4px);
  z-index: var(--z-1);
  animation: fadeIn 0.2s ease 0s 1 normal forwards;
}

.animateOut {
  animation: fadeOut 0.2s ease 0s 1 normal forwards;
}

.navBarLinks > a {
  display: flex;
  align-items: center;
  padding: var(--size-0) var(--size-1);
  margin: var(--size-2);
  font-size: var(--size-2);
  font-weight: 600;
}

.navBarLinks > a > img {
  margin-right: var(--size-0);
}

.opened {
  display: flex;
}

.navContact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: var(--size-5);
  padding-right: var(--size-2);
  padding-bottom: var(--size-4);
}

.navContact a {
  padding: 0 var(--size-3) var(--size-1) 0;
}

@media (max-width: 769px) {
  .navMenu {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
