.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: var(--size-7) 0;
}

.contactHeader {
  margin-bottom: var(--size-2);
  padding: 0 var(--size-0);
}

.contactHeader h2 {
  filter: drop-shadow(0px 0px 10px rgba(var(--shadow-pic-color), 0.3));
}

.contactHeader h3 {
  color: var(--color-3);
  font-size: inherit;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-7);
}

.links a {
  margin: var(--size-2) 0;
}
