.card {
  background: #fff;
  border-radius: var(--border-radius);
  padding: var(--size-3);
}

.card h3 {
  margin-bottom: var(--size-4);
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.inputGroup {
  flex: 1 0 480px;
  display: flex;
}

.form input,
.form textarea {
  border: none;
  padding: 10px;
  margin: 10px;
  transition: 0.4s;
  font-family: inherit;
  width: 100%;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--color-4);
}

.form input:focus,
.form textarea:focus {
  padding-left: 5px;
  outline: none;
}

.nombre,
.email {
  width: 240px;
  border-bottom: 2px solid var(--color-0);
}

.nombre:focus-within,
.email:focus-within,
.mensaje:focus-within {
  border-bottom: 3px solid var(--color-2);
}

.mensaje {
  flex: 1 0 480px;
  border-bottom: 2px solid var(--color-0);
}

.submit {
  flex: 1 0 50px;
}

.form button {
  margin-left: var(--size-4);
}
