.contenido {
  display: flex;
  flex-direction: column;
  max-width: min(600px, 100%);
}

.contenido .header {
  margin-bottom: var(--size-0);
}

.header h3 {
  font-size: var(--size-3);
}

.header h4 {
  color: var(--color-3);
}

.header p {
  color: var(--color-4);
  margin-top: var(--size-1);
  font-size: var(--size-1);
}

.contenido .descripcion {
  margin-top: var(--size-2);
}

.descripcion h4 {
  margin: var(--size-1) 0;
}

.descripcion p {
  margin-bottom: var(--size-0);
}

.descripcion a {
  color: var(--color-3);
}

.contenidoFull {
  max-width: unset;
  width: 100%;
}
