.contenido {
  display: flex;
  flex-direction: column;
  max-width: min(600px, 100%);
}

.contenido .header {
  margin-bottom: var(--size-0);
}

.header h3 {
  font-size: var(--size-3);
}

.header h4 {
  color: var(--color-3);
}

.contenido .descripcion {
  margin-top: var(--size-5);
}

.descripcion p {
  margin-bottom: var(--size-0);
}

.contenidoFull {
  max-width: unset;
  width: 100%;
}
