:root {
  --max-width: 1200px;
  --max-width-half: 500px;
  --max-width-card: 300px;
  --border-radius: 12px;
  --border-radius-inner: 8px;

  --foreground-rgb: 43, 43, 43;
  --background-start-rgb: 243, 231, 233;
  --background-middle-rgb: 227, 238, 255;
  --background-end-rgb: 227, 238, 255;

  --shadow-nav-color: 195, 174, 178;
  --shadow-pic-color: 179, 70, 73;
  --shadow-card-color: 71, 89, 117;
  --shadow-btn-color: 26, 6, 43;

  /* Transparencias */
  --nav-transparency: 0.7;

  /* Sizes */
  --size-0: 0.75rem;
  --size-1: 0.875rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 3rem;
  --size-6: 4rem;
  --size-7: 5rem;

  /* buttons */
  --button-font-size: 1.125rem;
  --sm-button-font-size: 0.75rem;

  /* ZIndex */
  --z-0: 1;
  --z-1: 2;

  /* colors */
  --color-0: rgb(255, 255, 255);
  --color-1: rgb(164, 191, 254);
  --color-2: rgb(255, 56, 92);
  --color-3: rgb(49, 74, 150);
  --color-4: rgb(54, 4, 103);
  --color-error: rgb(211, 47, 47);
  --color-disabled: rgb(195, 195, 206);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 255, 255, 255;
  --card-border-rgb: 131, 134, 135;

  --invert-percentage: 0%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 50, 60;
    --background-middle-rgb: 44, 44, 44;
    --background-end-rgb: 72, 85, 99;

    --color-3: rgb(164, 191, 254);

    --shadow-card-color: 195, 174, 178;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 43, 43, 43;
    --card-border-rgb: 200, 200, 200;

    --invert-percentage: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    to top,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-middle-rgb)) 99%,
    rgb(var(--background-end-rgb)) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
